<%= form_with model: prediction, local: true, html: { class: "space-y-4" } do |f| %>
  <% if prediction.errors.any? %>
    <div class="bg-red-100 border border-red-300 text-red-800 px-4 py-2 rounded">
      <strong><%= pluralize(prediction.errors.count, "error") %> prohibited this submission:</strong>
      <ul class="mt-2 list-disc list-inside">
        <% prediction.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :Generp, class: "block mb-1  text-white" %>
    <%= f.select :gender,
                 [["Homem","male"],["Mulher","female"]],
                 { prompt: "Selecione genero" },
                 class: "w-full px-4 py-2 text-white rounded-lg shadow-inner focus:ring-2 focus:ring-indigo-500 transition" %>
  </div>

  <div>
    <%= f.label :Idade, class: "block mb-1  text-white" %>
    <%= f.number_field :age,
                       class: "w-full text-white px-4 py-2 rounded-lg shadow-inner focus:ring-2 focus:ring-indigo-500 transition",
                       placeholder: "Idade em anos",
                       min: 0 %>
  </div>

  <div>
    <%= f.label :Altura, class: "block mb-1  text-white" %>
    <%= f.number_field :height,
                       class: "w-full text-white px-4 py-2 rounded-lg shadow-inner focus:ring-2 focus:ring-indigo-500 transition",
                       placeholder: "Altura (cm)",
                       step: "any" %>
  </div>

  <div>
    <%= f.label :Peso, class: "block mb-1  text-white" %>
    <%= f.number_field :weight,
                       class: "w-full text-white px-4 py-2 rounded-lg shadow-inner focus:ring-2 focus:ring-indigo-500 transition",
                       placeholder: "Peso (kg)",
                       step: "any" %>
  </div>

  <div>
    <%= f.submit "Testar para Diabetes",
                 class: "w-full py-3  text-white bg-indigo-600 hover:bg-indigo-700 text-white font-bold rounded-xl shadow-md hover:shadow-lg transition" %>
  </div>
<% end %>
