<div id="wrapper_welcome"></div>
<div id="main_content">
  <h1 class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    Can we guess if you have Diabetes or Pre-Diabetes?
  </h1>

  <h4 class="col-sm-8 col-sm-offset-2">
    Tell us your Gender, Age, Height and Weight
  </h4>

  <%= form_for @prediction, html: { class: "form-horizontal col-sm-8 col-sm-offset-2 primary-form" } do |f| %>
    <% if @prediction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@prediction.errors.count, "error") %> prohibited this submission:</h2>
        <ul>
          <% @prediction.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :gender, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.select :gender,
                     [["Male","male"],["Female","female"]],
                     { prompt: "Select gender" },
                     class: "form-control" %>
      </div>

      <%= f.label :age, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.number_field :age,
                           class: "form-control",
                           placeholder: "Age (years)",
                           min: 0 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :height, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.number_field :height,
                           class: "form-control",
                           placeholder: "Height (cm)",
                           step: "any" %>
      </div>

      <%= f.label :weight, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.number_field :weight,
                           class: "form-control",
                           placeholder: "Weight (kg)",
                           step: "any" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Check for Diabetes", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
